name: foodbasket

volumes:
  postgres-data:
    name: foodbasket-postgres-data
  rustfs-data:
    name: foodbasket-rustfs-data
  valkey-data:
    name: foodbasket-valkey-data

networks:
  internal:
    name: foodbasket-internal-network
    driver: bridge

services:
  valkey:
    image: valkey/valkey:9-alpine
    container_name: foodbasket-valkey
    hostname: valkey
    networks:
      - default
    volumes:
      - valkey-data:/data
    ports:
      - 6379:6379

  postgres:
    image: postgres:18-alpine
    container_name: foodbasket-postgres
    hostname: postgres
    networks:
      - default
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      start_period: 10s
      timeout: 10s
      retries: 3
      interval: 1m

  mailpit:
    image: axllent/mailpit:latest
    container_name: foodbasket-mailpit
    hostname: mailpit
    restart: unless-stopped
    networks:
      - default
    ports:
      - 1025:1025 # SMTP server
      - 8025:8025 # WebServer for viewing emails
    environment:
      MP_SMTP_AUTH_ACCEPT_ANY: "false"

  rustfs:
    image: rustfs/rustfs:latest
    container_name: foodbasket-rustfs
    hostname: rustfs
    restart: unless-stopped
    networks:
      - default
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - rustfs-data:/data
    environment:
      RUSTFS_ADDRESS: :9000
      RUSTFS_ACCESS_KEY: ${S3_ACCESS_KEY}
      RUSTFS_SECRET_KEY: ${S3_SECRET_KEY}
      RUSTFS_CONSOLE_ENABLE: true
    healthcheck:
      test:
        [
          "CMD",
          "sh",
          "-c",
          "curl -f http://localhost:9000/health && curl -f http://localhost:9001/rustfs/console/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
