---
import { getRelativeLocaleUrl } from "astro:i18n";
import RegisterForm from "../../components/register/RegisterForm.vue";
import BaseLayout from "../../layouts/BaseLayout.astro";

const locale = Astro.currentLocale || "en";
const callbackUrl = Astro.url.searchParams.get("callback") || getRelativeLocaleUrl(locale, "");
---

<BaseLayout title="Register" description="Register with the FoodBasket platform to start dining.">
  <main class="min-h-screen w-full h-fit flex items-center justify-center p-6">
    <RegisterForm lang={locale as any} callback={callbackUrl} client:load />
  </main>
</BaseLayout>

<style scoped>
  main {
    background: radial-gradient(
      150% 100% at 50% 0%,
      var(--color-violent-violet-600) 50%,
      #ffffff 50.1%
    );
    background-attachment: fixed;
  }
</style>
