@import "tailwindcss";

@theme {
  --font-chiron: "Chiron GoRound TC", "sans-serif";

  /* Default theming */
  --color-label-primary: oklch(0 0 0);
  --color-label-secondary: oklch(0.3588 0.012 285.78 / 60%);
  --color-label-tertiary: oklch(0.3588 0.012 285.78 / 30%);
  --color-label-quaternary: oklch(0.3588 0.012 285.78 / 18%);
  --color-background-primary: oklch(1 0 0);
  --color-background-secondary: oklch(0.9626 0.0066 286.27);
  --color-background-tertiary: oklch(1 0 0);
  --color-grouped-background-primary: oklch(0.9626 0.0066 286.27);
  --color-grouped-background-secondary: oklch(1 0 0);
  --color-grouped-background-tertiary: oklch(0.9626 0.0066 286.27);
  --color-accent-primary: oklch(0.772 0.1738 64.55);
  --color-state-warning: oklch(0.7288 0.1678 55.23);
  --color-state-danger: oklch(0.6532 0.2328 25.74);
  --color-state-success: oklch(0.7303 0.1944 147.44);
  --color-state-info: oklch(0.6321 0.2018 254.09);
  --color-state-neutral: oklch(0.6483 0.0073 286.19);
}

@layer base {
  :root {
    @apply antialiased;
  }
}

@layer utilities {
  .text-large-title {
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.4px;
  }

  .text-large-title-emphasized {
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.4px;
    font-weight: 700;
  }

  .text-title1 {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.38px;
  }

  .text-title1-emphasized {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.38px;
    font-weight: 700;
  }

  .text-title2 {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.26px;
  }

  .text-title2-emphasized {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.26px;
    font-weight: 700;
  }

  .text-title3 {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.45px;
  }

  .text-title3-emphasized {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.45px;
    font-weight: 600;
  }

  .text-headline {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;
    font-weight: 600;
  }

  .text-headline-italic {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;
    font-weight: 600;
    font-style: italic;
  }

  .text-body {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;
  }

  .text-body-emphasized {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;
    font-weight: 600;
  }

  .text-body-italic {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;
    font-style: italic;
  }

  .text-body-emphasized-italic {
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.43px;
    font-weight: 600;
    font-style: italic;
  }

  .text-callout {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.31px;
  }

  .text-callout-emphasized {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.31px;
    font-weight: 600;
  }

  .text-callout-italic {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.31px;
    font-style: italic;
  }

  .text-callout-emphasized-italic {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.31px;
    font-weight: 600;
    font-style: italic;
  }

  .text-subheadline {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.23px;
  }

  .text-subheadline-emphasized {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.23px;
    font-weight: 600;
  }

  .text-subheadline-italic {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.23px;
    font-style: italic;
  }

  .text-subheadline-emphasized-italic {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.23px;
    font-weight: 600;
    font-style: italic;
  }

  .text-footnote {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
  }

  .text-footnote-emphasized {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
    font-weight: 600;
  }

  .text-footnote-italic {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
    font-style: italic;
  }

  .text-footnote-emphasized-italic {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.08px;
    font-weight: 600;
    font-style: italic;
  }

  .text-caption1 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
  }

  .text-caption1-emphasized {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: 500;
  }

  .text-caption1-italic {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    font-style: italic;
  }

  .text-caption1-emphasized-italic {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: 500;
    font-style: italic;
  }

  .text-caption2 {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06px;
  }

  .text-caption2-emphasized {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06px;
    font-weight: 600;
  }

  .text-caption2-italic {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06px;
    font-style: italic;
  }

  .text-caption2-emphasized-italic {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.06px;
    font-weight: 600;
    font-style: italic;
  }

  .text-caption3 {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.08px;
  }

  .text-caption3-emphasized {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.08px;
    font-weight: 600;
  }

  .text-caption3-italic {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.08px;
    font-style: italic;
  }

  .text-caption3-emphasized {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.08px;
    font-weight: 600;
    font-style: italic;
  }
}
